.page {
  font-family: "Roboto", "Times New Roman", Times, sans-serif;
}

.page__content {
  max-width: 2560px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.page__background {
  background:  url('/assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 0 auto;
}